<!-- Storing data from controller to JSON -->
<%= content_tag :div,
    id: "products-data",
    data: {
        products: @products.to_json,
    } do %>

<% end %>

<!-- HTML Grid displaying products -->
<div class="container">
  <div class="row">
    <div id="products-grid">
      <div class="pagination-menu">
        <div id="number">
          <button @click=tenRows class="btn btn-info">10</button>
          <button @click=twentyRows class="btn btn-info">20</button>
          <button @click=fiftyRows class="btn btn-info">50</button>
          <button @click=hundredRows class="btn btn-info">100</button>
        </div>
        <form id="search">
          <input name="query" v-model="searchQuery" placeholder="Search">
        </form>
        <div id="page-navigation">
          <button @click=firstPage class="btn btn-danger"> << </button>
          <button @click=movePages(-1) class="btn btn-danger"> < </button>
          <p>{{startRow / rowsPerPage + 1}} out of {{Math.ceil(productsNumber / rowsPerPage)}}</p>
          <button @click=movePages(1) class="btn btn-danger"> > </button>
          <button @click=lastPage class="btn btn-danger"> >> </button>
        </div>
      </div>
      <products-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </products-grid>
    </div>
  </div>
</div>

<!-- Grid Template with Sortable columns -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!-- Loading the VueJS component grid_template -->
<%= javascript_pack_tag 'grid_template' %>
