<!-- Storing data from controller to JSON -->
<%= content_tag :div,
    id: "products-data",
    data: {
        products: @products.to_json,
    } do %>

<% end %>

<!-- HTML Grid displaying products -->
<div class="container">
  <div class="row">
    <div id="products-grid">
      <form id="search">
        <input name="query" v-model="searchQuery" placeholder="Search">
      </form>
      <div id="page-navigation">
        <button @click=movePages(-1)>Back</button>
        <p>{{startRow / rowsPerPage + 1}} out of {{Math.ceil(productsNumber / rowsPerPage)}}</p>
        <!-- <p>{{startRow / rowsPerPage + 1}} out of {{gridData.length / rowsPerPage}}</p> -->
        <button @click=movePages(1)>Next</button>
      </div>
      <div id="number">
        <button @click=tenRows>10</button>
        <button @click=twentyRows>20</button>
        <button @click=fiftyRows>50</button>
        <button @click=hundredRows>100</button>
      </div>
      <products-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </products-grid>
    </div>
  </div>
</div>

<!-- Grid Template with Sortable columns -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!-- Loading the VueJS component grid_template -->
<%= javascript_pack_tag 'grid_template' %>
